@import "~normalize.css";
@import "resetcss";

.gem-puzzle {
  max-width: 420px;
  padding: 0 10px;
  margin: 0 auto;

  .header {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
  }

  .info {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .field {
    height: 400px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    overflow: hidden;
    background: white;
    border-radius: 5px;
    border: 3px solid white;

    .cell {
      font-family: 'Quicksand', sans-serif;
      color: white;
      text-shadow: 0 0 2px black;
      border: 2px solid white;
      border-radius: 5px;
      position: absolute;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      cursor: pointer;
      background-size: 100% 100%;
      transform: scale(1) rotate(0);
    }

    .finish-menu-header {
      font-family: 'Monoton', cursive;
      color: white;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .finish-menu-item {
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .pause-menu-header {
      font-family: 'Monoton', cursive;
      color: yellow;
      font-size: 2rem;
      padding: 10px;
      border: 2px solid white;
    }

    .score-menu-header {
      font-family: 'Monoton', cursive;
      font-size: 1.6rem;
      color: white;
      padding: 10px;
      border: 2px solid white;
      margin-bottom: 20px;
    }

    .score-menu-container {
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size: 1.1rem;
      margin-bottom: 20px;

      .score-item {
        line-height: 140%;
      }
    }

    .score-menu-button, .finish-menu-button {
      font-family: 'Monoton', cursive;
      font-size: 1.6rem;
      color: yellow;
      cursor: pointer;
      transition: .5s;
      opacity: 1;
      transform: scale(1);
    }

    .menu, .score-menu {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(43, 43, 43, 0.8);
      transition: .5s;
      opacity: 1;
      z-index: 99;
    }

    .score-menu {
      z-index: 300;
    }

    .menu-hidden {
      opacity: 0;
    }

    .cell-hidden {
      transform: scale(0.5) rotate(180deg);
    }

    .start-menu-button {
      font-family: 'Monoton', cursive;
      font-size: 2.5rem;
      color: yellow;
      cursor: pointer;
      transition: .5s;
      opacity: 1;
      transform: scale(1);
      animation: pulse 1.5s infinite alternate;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.8);
        color: white;
      }

      100% {
        transform: scale(1);
        color: yellow;
      }
    }

    .start-menu-button:hover, .score-menu-button:hover, .finish-menu-button:hover {
      transform: scale(0.8);
      color: white;
    }

    .start-menu-button:active, .score-menu-button:active, .finish-menu-button:active {
      opacity: 0;
    }
  }

  .controls {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;

    .common-button {
      padding: 3px 6px;
      margin: 0 4px 10px;
      cursor: pointer;
      background: white;
      border: none;
      box-shadow: 0 0 3px rgba(0,0,0,0.5);
      outline: none;
      transition: .2s;
    }

    .common-button:disabled {
      cursor: default;
    }

    .common-button:hover:not(:disabled) {
      background: lightgray;
    }

    .common-button:active:not(:disabled) {
      color: white;
    }

    .controls-line-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .controls-line-list {
      display: flex;
      justify-content: center;

      .select-list {
        border: none;
        background: transparent;
        outline: none;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }

  .sound-container {
    display: none;
  }
}
